.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: aquamarine;
}
.header h2 {
  font-size: 40px;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 20px;
}
.btn button {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
