.blogsMargin {
  margin: 90px;
}
.qus {
  font-size: 40px;
  color: rgb(156, 89, 1);
}
.ans {
  font-size: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 900px) {
  .blogsMargin {
    margin: 50px;
  }
  .qus {
    font-size: 30px;
  }
}
